* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-container {
  z-index: 1;
}

@keyframes slideIn {
  from { transform: translateX(100px); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}